parameters:
    database_host:        127.0.0.1
    database_port:        ~
    database_name:        food_diary
    database_user:        root
    database_password:    root

    secret:               71b86fbd6d9f231d6970

    github_client_id:     71b86fbd6d9f231d6970
    github_client_secret: 33674f4b58b6dc89a5a4202087390ac1d27b7ee5